/* MarkdownBlog
 * Write blogs in markdown and generate static html files that are
 * ready to be served by a web server and are hackable.
 * Github: https://www.github.com/0x4248/MarkdownBlog
 * Licence: GNU General Public License v3.0
 * By: 0x4248 
 * 
 * content/css/custom.css
 * This file contains the custom css for the blog.
 * 
 * Edit this file as it is now or clone the content/css/base.css file
 * using make css-restore-base and then edit this file.
*/

.author {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.left {
    margin-right: 20px;
}

.right {
    display: flex;
    flex-direction: column;
}

#author_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#author_name {
    font-size: 20px;
    font-weight: bold;
}

.cursor {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.239);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 100000;
    transition: width 0.2s ease, height 0.2s ease, border-radius 0.2s ease;

}

.cursor-inner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.447);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 100000;
    transition: width 0.2s ease, height 0.2s ease, border-radius 0.2s ease;
}

.cursor.hover {
    border-radius: 10px;
}  

.cursor-inner.hover {
    width: 25px;
    height: 25px;   
    border-radius: 5px;
}

.cursor.scroll {
    height: 40px;
    width: 20px;
    border-radius: 10px;    
}

.cursor-inner.scroll {
    width: 10px;
    height: 10px;
}

body, a, button {
    cursor: none;
}