/* MarkdownBlog
 * Write blogs in markdown and generate static html files that are
 * ready to be served by a web server and are hackable.
 * Github: https://www.github.com/0x4248/MarkdownBlog
 * Licence: GNU General Public License v3.0
 * By: 0x4248 
 * 
 * content/css/custom.css
 * This file contains the custom css for the blog.
 * 
 * Edit this file as it is now or clone the content/css/base.css file
 * using make css-restore-base and then edit this file.
*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bold;
}

.main {
    font-family: 'JetBrains Mono', monospace;
}

.main h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
}

.main h2 {
    margin-top: 10px;
    font-size: 30px;
}

.main h3 {
    margin-top: 10px;
    font-size: 25px;
}

.main h4 {
    margin-top: 10px;
    font-size: 20px;
}

.main h5 {
    margin-top: 10px;
    font-size: 15px;
}

.main h6 {
    margin-top: 10px;
    font-size: 10px;
}

.date {
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.topnav {
    font-family: 'Bai Jamjuree', sans-serif;
}

.left {
    margin-right: 20px;
}

.right {
    display: flex;
    flex-direction: column;
}

#author_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#author_name {
    font-size: 20px;
    font-weight: bold;
}

body, a, button {
    cursor: none;
}

.footer {
    display: flex;
}

.flex-left{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.flex-right{
    margin-right: auto;
}

.flex-right p {
    margin: 0;
}

.footer img {
    width: 80px;
    height: 80px;
    margin: 0 1rem;
}

.footer a {
    text-decoration: none;
    color: white;   
}

